body {
  color: #444;
  font-family: "Vollkorn", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.6;
  margin-top: 2rem;
}

h1, h2, h3, h4, h5, h6, ul, ol, p, hr {
  max-width: 700px;
  margin: 1rem auto;
}

h2 {
  text-align: center;
}

.tooltip {
  position: absolute;
  background: #444;
  color: #FFF;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  display: block;
}
.tooltip a {
  left: 0;
  top: 0;
  color: #FFF;
  text-decoration: none;
}
.tooltip span {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}